#--------------------
# python
#--------------------
__pycache__/
*.py[cod]
*.pyo 
*.pyd
#--------------------
# virtualenv    
#--------------------
.venv/
myenv/
env/

#--------------------
# Testing / Coverage
#--------------------
.pytest_cache/

#--------------------
# OS/ Editor
#--------------------
.vscode/

#--------------------
# Secrets
#--------------------
.env
.env.*